:root {
  --primary-color: #a1432a;
  --secondary-color: #f0e5d7;
  --text-dark: #3a312b;
  --text-light: #ffffff;

  --glass-blur: 15px;
  --glass-opacity-bg: 0.5;
  --glass-border-light: rgba(255, 255, 255, 0.4);
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
      135deg,
      rgba(250, 248, 244, 0.7) 0%,
      rgba(161, 67, 42, 0.2) 100%
    ),
    url("pizzaLoginBackground.jpg");

  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#logo i {
  margin-right: 10px;
  font-size: 2.5rem;
}

.container {
  background: rgba(255, 255, 255, var(--glass-opacity-bg));
  backdrop-filter: blur(var(--glass-blur));
  -webkit-backdrop-filter: blur(var(--glass-blur));

  padding: 2rem 2.5rem;
  border-radius: 20px;
  border: 1px solid var(--glass-border-light);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);

  width: 350px;
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
  color: var(--text-dark);
  font-weight: 700;
}

.form-group {
  text-align: left;
  margin-bottom: 1rem;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  color: var(--text-dark);
}

input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid var(--secondary-color);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s, background 0.3s;
  color: var(--text-dark);
}

input:focus {
  border-color: var(--primary-color);
  background: var(--text-light);
}

.btn {
  width: 100%;
  padding: 0.7rem;
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  margin-top: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #7a381e;
}

.btn:active {
  transform: scale(0.99);
}

.error {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.9rem;
  height: 18px;
}

.switch {
  margin-top: 15px;
  font-size: 0.9rem;
  color: var(--text-dark);
}

.switch a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
}

.switch a:hover {
  text-decoration: underline;
}
